
<p id="notice"><%= notice %></p>


<p>
  <strong>Name:</strong>
  <%= @league.name %>
</p>

<p>
  <strong>Content:</strong>
  <%= @league.content %>

  <br>
  Jackpot History

  <% @league.jackpots.each do |j| %>
      <tr>
        <td><%= j.balance %></td>   
        <br>
      </tr>
  <% end %>
 
  <p>This is the Jackpot to draw
    <% current_jackpot = @league.jackpots.first %>
    <%= current_jackpot.id %>
    <%= button_to "Draw Winner",  {:controller => "leagues", :action => "draw", :jackpot_id => current_jackpot.id}, :method => :post %>
  </p>


   <% @league.jackpots.each do |t| %>
     <% t.tickets.each do |x| %>
        <tr>
          <td>Ticket numero <%= x.id %></td>
          <td>League ID:<%= x.league_id%></td>
          <td>JAckpot ID:<%= x.jackpot_id%>
          <td> Price: <%= x.price %></td>
          <td> Status: <%= x.status %></td>
          <td> Bowler:<%= x.name%></td>
          <br>
        </tr>
    <% end %>
  <% end %>

</p>

<% if notice.kind_of?(Array) %>

  <p id="notice"><%= notice %></p>

   <%= flash[:notice].join(" ") %>
  
<% end %>




<% @members.each do |t| %>
  
        <tr>
          <td>Numero de Membresia: <%= t.id %></td>
          <td>Numero de Liga: <%= t.league_id %></td>
          <td>Numero de Bowler: <%= t.bowler_id %></td>
          <td>Nombre del bowler: <%= t.name %></td>
           <td><%= button_to 'Buy Ticket', {:controller => "tickets", :action => "buy", :ticket_id => t.bowler_id , :league_id => @league} , :method=>:post  %></td>
          <br>
        </tr>
  
  <% end %>










<%= link_to 'Edit', edit_league_path(@league) %> |
<%= link_to 'Back', leagues_path %>





